
<p id="notice"><%= flash[:notice]%></p>

<div class="show_book">
 <p class="show_content"><strong>Title:</strong> <%= @book.title %></p>
 
 <p class="show_content"><strong>Body:</strong> <%= @book.body %></p>
</div>

<%= link_to"Edit",edit_book_path(@book.id)%>
<span>| <a href="/books">Back</a></span>
